
<section class="section-cards">
    <header class="section-cards__header">
        <div class="slidersFlyers">
            <ul>
                <li><img src="/img/Flyer 1.png" class="flyer1"></li>
                <li><img src="/img/Flyer 2.png" class="flyer2"></li>
                <li><img src="/img/Flyer 3.png" class="flyer3"></li>
                <li><img src="/img/Flyer 4.png" class="flyer3"></li>                   
            </ul> 
        </div>  
    </header>
    <div class="main-tittle">       
        <h2>LISTADO DE PRODUCTOS</h2>
        <p>Juguetes mas vendidos!</p>        
    </div>
    <div class="cards-container">
    </div>

    <footer class="section-cards__footer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, neque! At commodi impedit sunt corporis maxime accusantium dolor tenetur obcaecati!</p>
        <p>Aperiam voluptate incidunt perspiciatis eius deserunt nihil asperiores debitis harum aspernatur voluptas vero at, vitae recusandae quo, unde cum pariatur.</p>
    </footer>
</section>

