<section class="accordion aboutUs">
    <h3 class="accordion-title">Nosotros<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
        <p>Jugueteria Cosmica es una compañia nacida en el 2000. Iniciamos nuestro camino brindando alegria a los mas pequeños ayudandolos a desarrollar su imaginación, siendo que sean autores de sus propios mundos de aventuras. Fuimos creciendo en clientes, asi como en proyectos. Estos fueron tomando forma desde el 2004, donde decidimos abrir una nueva sucursal en San Cristobal. Luego en el 2007 en Recoleta y por ultimo, en los años 2020 y 2022 en en San Telmo y Caballito.</p>
        <p>Actualmente contamos con 4 sucursales y pensamos abrir 3 mas en el interior del pais, para llevar nuestra cultura de compañia/familia a lo largo de Argentina</p> 
        </div>
    <h3 class="accordion-title">¿Dónde están ubicados?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Estamos en los Capital Federal.</p>
            <p>San Cristobal - San Telmo - Recoleta - Caballito</p>
        </div>
    <h3 class="accordion-title">¿Realizan envíos al interior del país?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Si, realizamos a todo el país.</p>
            <p>Nos contactamos con vos para coordinar el envio, informandote tiempos esperados y brindandote un número de seguimiento para que sepas en todo momento en que lugar está tu paquete.</p>
        </div>
    <h3 class="accordion-title">¿Hacen ventas al por mayor?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Si, podes comunicarte con nosotros y si sos un cliente que quiere iniciar su negocio en este mundo de juguetes, te asesoramos para que sepas que mercaderia es tendencia en este momento</p>
        </div>
    <h3 class="accordion-title ">¿Cuánto es el valor de la compra mímina para hacer un pedido por mayor?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>El monto para compra mínima es de $200.000, esto incluye mercadería variada y lo que está en auge.</p>
        </div>
    <h3 class="accordion-title">¿Cuanto tiempo de anticipación se debe realizar un pedido?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Tenemos distintos tipos de pedidos. Si hay stock podes retirarlo de manera personal en el dia, consultando previamente.</p>
            <p>En el caso que sea un pedido mayoriasta el tiempo es de 4 a 7 días para la entrega.</p>
        </div>
    <h3 class="accordion-title">Quiero formar parte del quipo de Jugueteria Cósmica SA ¿Cómo debo hacer?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Podes enviarnos tu CV al correo jugueteriacosmica@rrhh.com.ar</p>
        </div>
    <h3 class="accordion-title">Tengo un cupon de regalo para utilizar en Jugueteria Cósmica ¿Cómo lo canjeo?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Los cupones tiene cada uno su fecha de vencimiento, solo debes presentarte personalmente en la jugueteria y hacernos entrega del cupon al momento de abonar para que se realice el canje del mismo, pero no debe estar caducado.</p>
        </div>
    <h3 class="accordion-title" >Sucursales y Horarios<div id="sucursales" class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <div class="accordion stores">
                <ul>
                    <li>Recoleta - Lun a Vie 9 a 20</li>
                    <li>Caballito Lun a Vie 9 a 20</li>
                    <li>San Cristobal Lun a Vie 9 a 20</li>
                    <li>San Telmo Lun a Vie 9 a 20</li>
                </ul>
            </div>
        </div>
</section>